<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>floodPrototype.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>15646B341BF2564100D2EFB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15646B481BF2564100D2EFB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15646B531BF2564100D2EFB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
